.delivery-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delivery-form h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.delivery-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.delivery-form input,
.delivery-form select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.delivery-form button[type="submit"] {
    background-color: #0069d9;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delivery-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* .progress-bar {
    position: relative;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
  }
  
  .progress-bar-endpoint {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 2px;
  }
  
  .progress-bar-endpoint:nth-child(1) {
    left: 0;
  }
  
  .progress-bar-endpoint:nth-child(2) {
    left: 25%;
  }
  
  .progress-bar-endpoint:nth-child(3) {
    left: 50%;
  }
  
  .progress-bar-endpoint:nth-child(4) {
    left: 75%;
  }
  
.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(223, 77, 19);
  color: #fff;
  text-align: center;
  line-height: 20px;
  transition: width 0.3s ease-in-out;
}

.progress-bar-fill.full {
    background-color: #0c0;
} */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .popup p {
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
  }

  .popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .popup-close svg {
    fill: #ff0000;
    width: 20px;
    height: 20px;
  }
  
  .popup-close:hover svg {
    fill: #ffffff;
  }
  
  
